/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

* {
  font-family: var(--font-family);
}

h1, h2, h3 {
  color: var(--color-title);
  font-weight: var(--font-weight-bold);
}

p, span {
  color: var(--color-subtitle);
  font-weight: var(--font-weight-regular);
}

ion-input-otp {
  --border-color: var(--color-border);
  --highlight-color: var(--color-border);
  --highlight-color-focused: var(--color-border);
  --highlight-color-valid: var(--color-border);
  --highlight-color-invalid: var(--color-border);
  --ion-color-primary: var(--color-border);
  --ion-color-primary-rgb: 56, 59, 83;
}

:root {
  --ion-safe-area-top: 0px;
  --ion-safe-area-bottom: 0px;
}

ion-toolbar {
  --min-height: 56px;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-header ion-toolbar:first-of-type {
  padding-top: env(safe-area-inset-top) !important;
}

ion-tab-bar,
ion-footer {
  padding-bottom: env(safe-area-inset-bottom);
}

.modal-75 {
  --height: 58%;
  --width: calc(100% - 48px);
  --border-radius: 16px;
  --box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  align-items: center;
}

.modal-fullscreen {
  --width: 100%;
  --height: 100%;
  --border-radius: 0;
}

.action-sheet-cancel .action-sheet-button-inner {
  color: #CC0000 !important;
}

.action-sheet-cancel ion-icon {
  color: #CC0000 !important;
}
